
<div class="container">
  <div class="top-image">
    <img src="assets/personal-record.png">
  </div>
  <div class="about">
  <h1>Personal Recordsについて</h1>
  <p>Personal Recordsはあなたの日常の感情を自由に記録することができる場所です。
  誰でもPersonal Recordsに記録することができます。</p>
  <p>
  自分の「嬉しい」、「悲しい」といった感情を記録するもよし。
  他の人の感情を見るのもよし。
  誰にも気にすることなく自由に感情を記録してみましょう。</p>
  </div>
</div>
